/* Allgemein */

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root{
  /* ===== Colors ===== */
  --body-color: #382a0b;
  --background-color: #524c40;
  --footer-background-color: #918e87;
  --sidebar-color: #FFF;
  --primary-color: #5f58b3;
  --primary-color-light: #F6F5FF;
  --toggle-color: rgb(80, 63, 35);
  --sec-toggle-color: rgb(99, 78, 44);
  --light-text-color: #9c9c9c;
  --text-color: #cccccc;
  --headline-color: rgb(255, 255, 255);
  --neg-headline-color:black;
  --sec-headline-color: rgb(204, 204, 204);  
  --neg-headline-color: rgb(12, 12, 12); 

  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;

    /* ====== Font-Family ====== */
    --Headline: Florence, cursive;
    --Navbar: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* speziefisch text */

#updated_news {
  padding-top: 30px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  max-width: 1200px;
  margin: auto;
  background-color: var(--body-color);
}

.over_headline {
  margin-top: -10px;
  text-align: center;
}

#headline {
    font-family: Florence, cursive;
    text-align: center;
}

.middle {
    text-align: center;
}

.headline {
  margin-bottom: 15px;
}

.headline2{
  margin-bottom: 15px;
}

.textblock {
  background-color: var(--sec-toggle-color);
  border-radius: 7px;
  margin-top: 15px;
  padding: 20px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  margin-bottom: 10px;
}

.footerNews {
  text-align: right;
  font-size: 14px;
  color: var(--light-text-color);
}

/* Bilder */

#thumbnail img{
  margin-top: -1px;
  margin-bottom: -4px;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#thumbnail {
  background: black;
}

.menuicon{
  width: 25px;
  display: inline-block;
  margin-left: 70px;
  margin-top: 23px;
}

/* Video */

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 90%;
  z-index: 0;
  padding-left: 10%;
  padding-top: 50px;
}

/* Zähler */
.zaehler {
  display: flex; /* Verwende Flexbox-Layout */
  justify-content: center; /* Zentriere die Container horizontal */
  align-items: flex-start; /* Text oben im Container ausrichten */
}

.zaehler img {
  width: 100%;
  height: 200%;
  margin-top: -5px;
}

.zahl {
  line-height: 13px;
}

.anfang,
.zurueck,
.zahl,
.weiter,
.ende {
  background-color: var(--sec-toggle-color); /* Hintergrundfarbe */
  padding: 10px; /* Abstand um den Inhalt */
  margin: 5px; /* Abstand zwischen den Containern */
  height: 30px;
  transition: all 0.5s ease;
  border-radius: 5px;
  cursor: pointer;
}

.anfang:hover,
.zurueck:hover,
.zahl:hover,
.weiter:hover,
.ende:hover {
  background-color: var(--toggle-color);
  transition: all 0.5s ease;
}

.active {
  background-color: var(--toggle-color);
}

/* Spiele */
.game iframe{
  width: 70%;
  aspect-ratio: 4/3;
  justify-content: center;
  display: inline-table;
}

.game {
  text-align: center;
}

/* Leiste */

nav{
  background: var(--body-color);
  height: 80px;
  width: 100%;
}
label.logo{
  color: var(--headline-color);
  font-size: 30px;
  line-height: 80px;
  padding: 0 60px;
  padding-right: 0px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 50px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0px;
  position: relative;
}

nav ul li a{
  color: var(--headline-color);
  font-size: 17px;
  padding: 7px 5px;
  border-radius: 3px;
  text-transform: uppercase;
}
nav ul li ul{
  display: none;
  position: absolute;
  top: 100%; /* Setzt die Position unterhalb des übergeordneten Elements */
  right: -50px; /* Ausrichtung an der rechten Seite des übergeordneten Elements */
  left: -250px; 
  background-color: var(--toggle-color);
  color: var(--sec-headline-color);
  padding: 16px 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 0px 0px 12px 12px;
  margin-top: -1px;
}

nav ul li:hover ul{
  display: block;
}

nav ul li ul li a{
  color: var(--sec-headline-color);
  padding: 16px 20px;
  line-height: 0px;
  height: 0px;
  margin: 0px;
}

nav .long{
  font-size: 13px;
}

nav ul li ul li a:hover{
  background-color: var(--sec-toggle-color);
}

a.active,a:hover{
  background: var(--toggle-color);
  transition: .5s;
}

.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}

.logo:hover{
  background: var(--body-color);
  cursor: pointer;
}


/* Main */

.main{
  background-color: var(--background-color);
  padding: 30px 60px;
  color: var(--text-color);
}


.main a {
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--body-color);
  display: flex;
  align-items: left;
  justify-content: left;
  margin: 10px;
  margin-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 8px;
  width: 30%;
  border-radius: 5px;
}

.main a:hover{
  background-color: var(--toggle-color) !important;
}



.main h1{
  font-size: 25px;
}

.textblock .headline {
  margin-left: 30px;
}

.txtlink{
  background-color: none !important;
  background: none !important;
  color: var(--text-color);
  margin: 0px !important;
  padding: 0px !important;
  display: inline !important;
}

.imgtxt img{
  float: left;
  height: 230px;
}

.imgtxtblock{
  min-height: 250px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  justify-content: center;
}

.gallery{
  display: flex;
  width: 100%;
  display: inline;  
  text-align:center;
  justify-content: center;
  display: inline-block;
  background-color: var(--background-color);
  color: var(--text-color);
  padding-bottom: 100px;
}

.imgtxtcard{
  background-color: var(--sec-toggle-color);
  width: 300px;
  height: 520px;
  border-radius: 7px;
  margin-top: 15px;
  padding: 10px;
  display: inline-table
}

.imgtxtcardshort{
  background-color: var(--sec-toggle-color);
  width: 300px;
  height: 460px;
  border-radius: 7px;
  margin-top: 15px;
  padding: 10px;
  display: inline-table
}

.imgtxtcardTeacher{
  background-color: var(--sec-toggle-color);
  width: 300px;
  height: 500px;
  border-radius: 7px;
  margin-top: 15px;
  padding: 10px;
  display: inline-table
}

.imgtxtcardlogo{
  background-color: var(--sec-toggle-color);
  width: 250px;
  height: 250px;
  border-radius: 7px;
  margin-top: 15px;
  padding: 10px;
  display: inline-table
}


.imgtxtcard .txt{
  text-align: center;
}

.imgtxtcard img{
  text-align: center;
}

.imgtxtcardshort .txt{
  margin-top: 15px;
  text-align: center;
}


.imgtxtcardshort img{
  text-align: center;
  width: 100%;
}

.imgtxtcardlogo .txt{
  margin-top: 15px;
  text-align: center;
}


.imgtxtcardlogo img{
  text-align: center;
  width: 80%;
  margin-top: 10px;
  margin-bottom: auto;
  transition: all 0.5s ease;
}

.imgtxtcardlogo img:hover{
  text-align: center;
  width: 75%;
  margin-top: 22.5px;
  margin-bottom: 0px;
}

.imgtxtcardTeacher .txt{
  margin-top: 10px;
  text-align: center;
}

.imgtxtcardTeacher img{
  text-align: center;
  width: 100%;
}

.centerimgvert {
  text-align: center;
}

.centerimgvert img{
  width: 50%;
}

.centerimghori {
  text-align: center;
}

.centerimghori img{
  width: 90%;
}

/* Footer */

#footer{
  background-color: var(--footer-background-color);
  padding: 30px 60px;
  color: var(--text-color);
  width: 100%;
}

#footer a{
  color: var(--text-color);
}

#footer a:hover{
  background-color: var(--toggle-color);
  padding: 0px 5px;
  border-radius: 5px;
}

.sighn{
 display: inline;
 text-transform: lowercase;
}


/* mobile Version */

@media (max-width: 1100px){

  .imgtxtcardlogo{
    background-color: var(--sec-toggle-color);
    width: 200px;
    height: 200px;
    border-radius: 7px;
    margin-top: 15px;
    padding: 10px;
    display: inline-table
  }

  .imgtxtcardlogo img{
    text-align: center;
    width: 80%;
    margin-top: 10px;
    margin-bottom: auto;
    transition: all 0.5s ease;
  }
  
  .imgtxtcardlogo img:hover{
    text-align: center;
    width: 75%;
    margin-top: 19.5px;
    margin-bottom: 0px;
  }

}

@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 15px;
  }
  label.logo{
    font-size: 25px;
    padding: 0 55px;
    padding-right: 0px;
  }

  .imgtxtcardlogo{
    background-color: var(--sec-toggle-color);
    width: 180px;
    height: 180px;
    border-radius: 7px;
    margin-top: 15px;
    padding: 10px;
    display: inline-table
  }

  .imgtxtcardlogo img{
    text-align: center;
    width: 80%;
    margin-top: 10px;
    margin-bottom: auto;
    transition: all 0.5s ease;
  }
  
  .imgtxtcardlogo img:hover{
    text-align: center;
    width: 75%;
    margin-top: 18.5px;
    margin-bottom: 0px;
  }
}
@media (max-width: 858px){
  nav ul li ul{
    display: none;
    position:fixed;
    top: 320px;
    margin-right: 0px;
    margin-left: 250px;
    background-color: var(--sec-toggle-color);
    color: var(--sec-headline-color);
  }

  .checkbtn{
    display: block;
    line-height: 70px;
    position: relative;
    margin-right: 100px;
    height: 60%;
  }
  .button-text{
    display: inline;
    position: absolute;
    margin-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: var(--toggle-color);
    top: 70px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 1;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 15px;
  }
  nav ul li a{
    font-size: 15px;
  }
  
  a:hover,a.active{
    background: none;
    color: var(--neg-headline-color);
  }
  #check:checked ~ ul{
    left: 0;
  }
  label.logo{
    font-size: 20px;
    padding: 0 45px;
    line-height: 70px;
    padding-right: 0px;
  }
  nav{
    height: 70px;
    width: 100%;
  }

  .main a{
    width: 55%;
    margin-left: 20px;
  }

  .imgtxt img{
    height: 210px;
  }

  #thumbnail img{
    margin-top: 0px;
    margin-bottom: -4px;
    max-width: 100%;
  }

  .imgtxtcardlogo{
    background-color: var(--sec-toggle-color);
    width: 120px;
    height: 120px;
    border-radius: 7px;
    margin-top: 15px;
    padding: 10px;
    display: inline-table
  }

  .imgtxtcardlogo img{
    text-align: center;
    width: 80%;
    margin-top: 10px;
    margin-bottom: auto;
    transition: all 0.5s ease;
  }
  
  .imgtxtcardlogo img:hover{
    text-align: center;
    width: 75%;
    margin-top: 15.5px;
    margin-bottom: 0px;
  }

  .centerimgvert img{
    width: 100%;
  }

  .centerimghori img{
    width: 100%;
  }
  
}

@media (max-width: 560px){

  .imgtxt img{
    float: left;
    height: 180px;
  }

  .imgtxtcardlogo{
    background-color: var(--sec-toggle-color);
    width: 100px;
    height: 100px;
    border-radius: 7px;
    margin-top: 15px;
    padding: 10px;
    display: inline-table
  }

  .imgtxtcardlogo img{
    text-align: center;
    width: 80%;
    margin-top: 10px;
    margin-bottom: auto;
    transition: all 0.5s ease;
  }
  
  .imgtxtcardlogo img:hover{
    text-align: center;
    width: 75%;
    margin-top: 14px;
    margin-bottom: 0px;
  }

  .textblock .headline {
    margin-left: 0px;
    text-align: center;
  }
  
}

@media (max-width: 450px){
  .checkbtn{
    display: block;
    line-height: 45px;
    position: relative;
    margin-right: 70px;
    height: 60%;
  }
  .button-text{
    display: inline;
    position: absolute;
    margin-left: 10px;
    font-family: var(--Navbar);
    font-weight: lighter;
    font-size: 15px;
    margin-top: 7px;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: var(--toggle-color);
    top: 50px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 15px;
  }
  nav ul li a{
    font-size: 15px;
  }
  a:hover,a.active{
    background: none;
    color: var(--neg-headline-color);
  }
  #check:checked ~ ul{
    left: 0;
  }
  label.logo{
    font-size: 15px;
    padding: 0 30px;
    line-height: 50px;
    padding-right: 0px;
  }
  nav{
    height: 50px;
    width: 100%;
  }

  .main{
    background-color: var(--background-color);
    padding: 30px 30px;
    color: var(--text-color);
  }

  .main h1{
    font-size: 20px;
  }

  .main a{
    width: 90%;
    margin-left: 10px;
  }

  .imgtxt img{
    float: left;
    height: 150px;
  }

  .menuicon{
    width: 20px;
    margin-top: 1px;
  }

  .button-text{
    margin-left: 10px;
    margin-top: 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
  }

  .imgtxtcardlogo{
    background-color: var(--sec-toggle-color);
    width: 70px;
    height: 70px;
    border-radius: 7px;
    margin-top: 5px;
    padding: 10px;
    display: inline-table
  }

  .imgtxtcardlogo img{
    text-align: center;
    width: 80%;
    margin-top: 5px;
    margin-bottom: auto;
    transition: all 0.5s ease;
  }
  
  .imgtxtcardlogo img:hover{
    text-align: center;
    width: 75%;
    margin-top: 7.5px;
    margin-bottom: 0px;
  }
}
